header {
background: black;
height:150px;
margin-top: 100PX;
}

.heading{
    position: relative;
    font-size: 30px;
    text-decoration: none;
    color: aqua;
    font-weight: 600;
boarder: red;
}
